.fa-gavel{
    font-size:45px;
}

.tm-search-form{
    justify-content:space-between;
    width:100%;  
}

.full-search-input{
    width: 85%!important;
}
.cases-container{
    text-align: center;
    width:100%;
    padding-bottom: 2%;
}
.cases-h2{
    color: #696969;
}

.meta-h2{
    margin-top: -40px;
}
.form-upload{
    margin-bottom: -50px;
}
.file-input{
    width: 80%!important;
}
.notes-input{
    width: 100%!important;
}
.form-group-similar{
    width:100%; 
    padding-bottom:5%;
}
.similar-label{
    padding-bottom:2%;
}
.similar-title{
    text-align: center;
    width:100%; 
    padding-bottom: 2%;
}
.para{
    max-height: 270px;
    overflow: hidden;
}
.summary-area{
    color:#696969;
}
.section-h4{
    color:grey;
}
.summary-para{  
    color: #373e4a;
}
td{
    color:#4f5763
}
th{
    color:#3d4654;
    width: 200px;
}

table, th, td {
    border:1px solid grey;
  }
.judgement-para{
    margin-top: 20px;
    color: #3b434f;
}
.judgement-title{
    margin-top: 30px;
    color: #3d4654;
}
table{
    margin-top: 30px;
}
